@import '/src/styles.scss';
@import '/src/theme.scss';
@import '/src/assets/styles/mixins';

div.manage-app-header {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 16px;
    justify-content: space-between;
    min-height: 96px;
    @include media-breakpoint-sm {
		padding: 16px 24px;
    }

    & .main-container {
        padding-right: 15px;
        padding-left: 15px;
        &__custom-button {
            &.oc-button {
                font-weight: 500;
            }
        }
    }
}